<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Palindrome Checker</title>
  <link rel="stylesheet" href="/public/site.css">
</head>

<body>
  <div class="website-wrap">
    <h1 class="website-title-color website-title-font-size">Palindrome Checker</h1>
    <main>
      {{{body}}}
    </main>
  </div>
</body>

</html>