<section class="result-page-container">
  <h2>Result</h2>
  {{#if isPal}}
  <p class="result-page-is-pal-text ">Your input is a palindrome.</p>
  {{else}}
  <p class="result-page-is-not-pal-text">Your input is not a palindrome.</p>
  {{/if}}
  <a href="/" class="result-page-try-another-link">Try another palindrome</a>
</section>