<section class="result-page-container">
  <h4>Result</h4>
  {{#if isPal}}
  <h1>Your input is a palindrome.</h1>
  {{else}}
  <h1>Your input is not a palindrome.</h1>
  {{/if}}
  <a href="/">Try another palindrome</a>
</section>

{{!-- TOOD: use different class for pal and not pal --}}